@import '../../styles/common';

.JmButton {
  width: 250px;
  text-align: center;
  background-color: $contentBackgroundColor;
  padding: $appPadding;
  border-radius: $appBorderRadius;
  cursor: pointer;
  text-select: none;

  &:not(&--active) {
    pointer-events: none;
  }

  &:hover {
    background-color: $contentBackgroundColorHover;
  }

  &--active {
    background-color: $contentBackgroundColorActive;
  }
}