@import '../../styles/common';

.JmCelestial {
  //width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $appBackgroundColor;
  padding: 15px;
  gap: 15px;

  .JmButton {
    align-self: flex-end;
  }
}