@import '../../../styles/common';

.JmNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  color: $appFontColor;

  .JmButton {
    margin: 10px;
  }
}