// Colors
$appBackgroundColor: rgba(37, 37, 37, 1);
$contentBackgroundColor: lighten($appBackgroundColor, 5%);
$contentBackgroundColorHover: lighten($appBackgroundColor, 10%);
$contentBackgroundColorActive: lighten($appBackgroundColor, 15%);
$appFontColor: rgba(240, 240, 240, 1);
$appLinkColor: rgba(138, 237, 141, 1);

// Variables
$appPadding: 20px;
$appBorderRadius: 3px;

// Shell
$headerHeight: 96px;
$footerHeight: 55px;
$mainHeight: calc(99vh - 96px - 55px);
