@import '../../../styles/common';

  .JmFooter {
    width: 100vw;
    min-height: $footerHeight;
    background-color: $appBackgroundColor;
    color: $appFontColor;
    text-align: right;
    font-size: 0.8em;
    padding: $appPadding;

    .JmFooter-copyright {
      margin: 0 3px -2px;
    }
  }