@import '../../styles/common';

.JmListItem {
  min-width: 16em;
  height: 8em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  //background-color: $appBackgroundColor;
  color: $appFontColor;
  margin-bottom: 20px;
  margin-right: 20px;

  .JmListItem-avatar {
    width: 5em;
    height: 5em;
  }

  .JmListItem-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10em;
    height: 5em;
    margin-left: 20px;

    .JmListItem-title {
      .JmListItem-name {
        display: block;
        margin: 0;
        text-align: left;
        font-size: 13px;
      }

      .JmListItem-time {
        display: block;
        margin: 0;
        text-align: left;
        font-size: 12px;
      }
    }

    .JmListItem-description {
      display: block;
      margin: 10px 0 0;
      font-size: 11px;
    }
  }
}