@import '../../../styles/common';

.JmContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: $appPadding;
  color: $appFontColor;

  h3 {

  }

  p {
    text-align: left;
    text-justify: inter-word;

    a {
      color: $appFontColor;
    }
  }
}