@import '../../../styles/common';

.JmContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: $appPadding;

  h3, p {
    text-align: left;
    color: $appFontColor;

    a {
      color: $appFontColor;
    }
  }
}