@import '../../../styles/common';

.JmApp {
  height: 100vh;
  width: 100vw;
  background-color: $appBackgroundColor;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  overflow-y: auto;

  .JmApp-header {
    width: 320px;
    height: $headerHeight;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $appFontColor;
    padding: $appPadding;

    .JmApp-logo {
      height: 50px;
    }

    .JmApp-headline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: $appPadding;
      margin-bottom: 2px;

      .JmApp-title {
        font-size: 1.2em;
        margin: 0;
      }

      .JmApp-subtitle {
        font-size: 0.8em;
        margin: 0;
      }
    }
  }

  .JmApp-footer {
    width: 100vw;
    min-height: $footerHeight;
    background-color: $appBackgroundColor;
    color: $appFontColor;
    text-align: right;
    font-size: 0.8em;
    padding: $appPadding;

    .JmApp-footer__icon {
      margin: 0 3px -2px;
    }
  }
}